<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>Switch Fitness</title>
</head>

<body>
<h1>
	Welcome to Switch Fitness!
</h1>
<h2>
	To Work out:
</h2>
<ul>
		<li>Choose a workout to start with: <a href="/pushups">pushups</a>, <a href="/squats">squats</a>, or the <a href="/treadmill">treadmill</a></li>
		<li>Each workout lasts tow minutes before changing to another one</li>
		<li>Enjoy!</li>
</ul>
	<a href="#">Workouts</a>
	<a href="/trainers">Trainers</a>
</body>
</html>