<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>Switch Fitness</title>
</head>

<body>
<h1>
	Welcome to Switch Fitness!
</h1>
<h3>
	To Work out:
</h3>
<ul style = "list-style-type:none">
	<p>Choose a workout to start with: <a href="/pushups">pushups</a>, <a href="/squats">squats</a>, or the <a href="/treadmill">treadmill</a> <br> 
			Each workout lasts two minutes before changing to another one
			Enjoy!</p>
</ul>
</body>
</html>