<!DOCTYPE html>

<head>
<link href="/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<header>
<h1 class="header-title"> Switch Playground </h1>
<div class="navbar">
<ul>
 <li class="navnames"> <a class = "navnames" href="/"> Home</a> </li>
 <li class="navnames"> <a class= "navnames" href="/trainers"> Trainers</a> </li>
 <li class="navnames"> <a class = "navnames" href="/pushups">Pushups</a> </li>
 <li class="navnames"> <a class = "navnames" href="/squats">Squats</a></li>
 <li class="navnames"> <a class = "navnames" href="/treadmill">Treadmill</a> </li>
 </ul>
 </div>
</header>
<%= yield %>
</body>