<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>Switch Trainers</title>
</head>

<body>
<h1>
	Meet Our Trainers!
</h1>

<ul>
	<% @trainers.each do |trainer| %>
	<li class = "trainer_names">
		<%=trainer%>
	</li>
	<% end %>
</ul>

<img src = "http://www.switchplayground.com/wp-content/uploads/2014/11/Steve-Uria.jpg">
<img src = "http://www.switchplayground.com/wp-content/uploads/2014/11/Cuan.jpg">
<img src = "http://www.switchplayground.com/wp-content/uploads/2014/11/Kelly-profile.jpg">

</body>
</html>