<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>Switch Fitness</title>
</head>

<body>
<h1>
	Meet Our Trainers!
</h1>
<h2 class = "trainers">
	<% @trainers.each do |trainer| %>
		<%=trainer%> 
		<!-- display inline!! -->
		<br>
	<% end %>
</h2>

<img src = "http://www.switchplayground.com/wp-content/uploads/2014/11/Steve-Uria.jpg">
<img src = "http://www.switchplayground.com/wp-content/uploads/2014/11/Cuan.jpg">
<img src = "http://www.switchplayground.com/wp-content/uploads/2014/11/Kelly-profile.jpg">



<h2>
	Cuan
</h2>
</body>
</html>